---

---

<div class="w-full mx-auto invert text-center">
  <section class="whitespace-nowrap overflow-x-hidden bg-pink-800 text-white py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6">
      <span>UI Lir</span>
      <span>Fede effekter</span>
      <span>Flotte animationer</span>
      <span>Høje lyde</span>
      <span>Livlige og levende webløsninger</span>
      <span>UI & UX</span>
      <span>Interaktioner</span>
      <span>Mikroanimationer</span>
      <span>Mega fedt!</span>
      <span>Dit site bliver bedre!</span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
      <span>UI Lir</span>
      <span>Fede effekter</span>
      <span>Flotte animationer</span>
      <span>Høje lyde</span>
      <span>Livlige og levende webløsninger</span>
      <span>UI & UX</span>
      <span>Interaktioner</span>
      <span>Mikroanimationer</span>
      <span>Mega fedt!</span>
      <span>Dit site bliver bedre!</span>
    </div>
  </section>
  <p class="py-4">&copy; DiDe Webfeature projekt 2024</p>
</div>
